* {
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

:root {
    --main-red: rgb(255, 80, 80);
    --main-green: rgb(110, 200, 110);
    --main-gray: rgb(30, 30, 30);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    top: 0px;
    background-color: var(--main-gray);
}

header .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #888;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 5px;
    width: 240px;
}

.logo-container img {
    max-width: 60px;
    max-height: 40px;
    filter: drop-shadow(5px 5px 10px #000);
}

.logo-container h1 {
    font-weight: bold;
    padding: 10px;
    filter: drop-shadow(5px 5px 10px #000);
}

.logo-container h1 {
    font-weight: bold;
    color: #fff;
    padding: 5px;
    filter: drop-shadow(5px 5px 10px #000);
}

.logo-container h1 b:nth-child(1) {
    color: var(--main-red);
}

.logo-container h1 b:nth-child(2) {
    color: var(--main-green);
}

header .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 15px;
    border-radius: 50%;
}

header .buscador a {
    color: #fff;
}

header .nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-grow: 1;
}

.nav-container li i {
    font-size: 20px;
    padding-bottom: 5px;
    color: #ccc;
}

.nav-container #lupa-desktop {
    display: none;
}

.nav-container li:first-child i {
    font-size: 20px;
    color: var(--main-red);
    border-bottom: solid 3px;
}

body {
    display: flex;
    flex-direction: column;
}

body .background-container {
    height: calc(100vh - 109px);
    width: 100vw;
    background-image: linear-gradient(to right bottom, #ff5050, #ff5584, #f068b1, #d27fd2, #af94e5, #88a2f2, #5aaef4, #23b7ed, #00c0df, #00c7c1, #14c999, #6ec86e);
    background-repeat: no-repeat;
    background-size: 500%;
    animation: fanimation 5s infinite;
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
    margin-top: 109px;
}

@keyframes fanimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .titulo,
main .imagen,
main .descripcion,
main .fecha,
main .lugar,
main .envio {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
    margin: 20px 0;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

main label {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
    padding: 10px;
    width: 100%;
    text-align: center;
}

main input {
    border: none;
    background-color: transparent;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
    margin-top: 10px;
    padding: 10px;
    width: 90vw;
    color: var(--main-green);
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: transparent;
    background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3));
    margin-top: 10px;
    padding: 10px;
    width: 90vw;
    color: var(--main-green);
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

main #descripcion {
    height: 30vh;
}

.mapouter {
    text-align: right;
    width: 95vw;
    height: 400px;
    margin-top: 20px;
}

.gmap_canvas {
    border-radius: 20px;
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}

main .envio input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 4px 4px 10px #000;
    background: var(--main-gray);
    color: #eee;
    margin: 10px;
    transition: background-color 1s, color 1s;
    cursor: pointer;
}

main .envio input:first-child{
    margin-top: 0;
}

main .envio input:nth-child(2){
    margin-bottom: 0;
}

main .envio input:first-child:hover {
    background-color: var(--main-green);
    color: #000;
}

main .envio input:nth-child(2):hover {
    background-color: var(--main-red);
    color: #000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--main-gray);
    padding: 15px;
}

footer p {
    color: #fff;
    text-align: end;
}

@media only screen and (min-width: 730px) {
    body .background-container {
        height: calc(100vh - 58px);
        margin-top: 58px;
    }

    header {
        flex-direction: row;
    }

    header .encabezado {
        width: 40vw;
        border: none;
    }

    header .nav-container {
        width: 60vw;
        align-items: center;
        justify-content: center;
    }

    .nav-container #lupa-desktop {
        display: flex;
    }

    .encabezado .buscador {
        display: none;
    }

    main{
        flex-direction: row;
    }

    main form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main .titulo,
    main .imagen,
    main .descripcion,
    main .fecha{
        width: 48vw;
        border-radius: 20px;
        box-shadow: 10px 10px 20px #000;
    }

    main .fecha{
        justify-content: flex-start;
    }

    main .fecha label{
        justify-self: flex-start;
    }

    main .fecha input{
        height: 100%;
        font-size: 2vw;
    }

    main .lugar{
    box-shadow: 10px 10px 20px #000;

    }

    main input{
        width: 40vw;
    }

    .custom-file-upload{
        width: 40vw;
    }
}