a{
    color: #fff;
}

p{
    color:#fff;
}

*{
    background-color: #000;
}

#logo{
    width: 400px;
    height: 85px;
    background-color: transparent;
}

nav{
    border-radius: 20%;
}
.nav__li{
    /* background-color: rgb(238, 96, 96); */
    display: inline-block;
    padding: 10px;
}

.nav__li a{
    /* background-color: rgb(238, 96, 96); */
    color: white;
    text-decoration: none;
}

.nav__li i{
    /* background-color: rgb(238, 96, 96); */
    color: white;
    width: 30px;
    margin-right: -5px;
}

.nav__li:hover > a{
    color: #bbb;
}

.nav__li:hover > i{
    color: #bbb;
}

.nav__li:hover{
    color: #bbb;
}

.flex-container{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2, h3 {
    color: #fff;
}

#frase{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    justify-content: space-around;
    display: flex;
}

.muro{
    display: flex;
    flex-direction: column;
}

.tittle{
    margin: auto;
    font-size: 30px;
}

.content{
    font-size: 20px;
    margin: auto;
}

#profiles-list li{
    color: #fff;
}